body {
    background-color: rgb(226, 252, 243);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 共通のコンテナスタイル */
.container {
    width: 90%;
    margin: 0 auto;
}

/* ナビゲーションバー */
.navbar {
    background-color: rgba(9, 9, 9, 0.927);
    top: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 1em;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 1em;
    display: block;
}

/* ヒーローセクション */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-video {
    width: 100%;
    height: auto;
}

/* サービスセクション */
.services {
    padding: 2em 0;
    text-align: center;
}

.service-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    flex: 1;
    margin: 1em;
    max-width: 300px;
}

.service img {
    width: auto;
    height: 200px;
}

/* アドベンチャーセクション */
.adventures {
    padding: 2em 0;
    text-align: center;
}

.adventure-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.adventure {
    flex: 1;
    margin: 1em;
    max-width: 300px;
}

.adventure img {
    width: auto;
    height: 200px;
}

/* CTAセクション */
.cta {
    padding: 2em 0;
    text-align: center;
}

.cta img {
    width: auto;
    height: 50px;
}

/* フッターセクション */
footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

/* メディアクエリでレスポンシブ対応 */
@media (max-width: 768px) {
    .service, .adventure {
        flex: 1 1 100%;
    }

    .service-grid, .adventure-grid {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        text-align: center;
        width: 100%;
        padding: 0 1em;
        hi:auto;
    }
}
